body{
    background-image: url("../img/3.png");
}

#idtext{

    color: white;
}

#enrollid{
    color: black
;

}
#idemail{

    color: white;
}

#enrollemail{
    color: black;

}
#idpass{

    color: white;
}

#enrollpass{
    color: black;

}

#enrollhead{
    color: white;

}

#enrollbtn{

    border: 5px solid #0a3c59;
    background: #00fff2;
    background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#00fff2));
    background: -webkit-linear-gradient(top, #ffffff, #00fff2);
    background: -moz-linear-gradient(top, #ffffff, #00fff2);
    background: -ms-linear-gradient(top, #ffffff, #00fff2);
    background: -o-linear-gradient(top, #ffffff, #00fff2);
    background-image: -ms-linear-gradient(top, #ffffff 0%, #00fff2 100%);
    padding: 10px 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    -webkit-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
    -moz-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
    box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
    text-shadow: #1c2d38 0 1px 0;
    color: #000000;
    font-size: 24px;
    font-family: helvetica, serif;
    text-decoration: none;
    vertical-align: middle;
}
