#deletelist{

    border: 3px solid #0a3c59;
    background: #ff0000;
    background: -webkit-gradient(linear, left top, left bottom, from(#ff0000), to(#ff0000));
    background: -webkit-linear-gradient(top, #ff0000, #ff0000);
    background: -moz-linear-gradient(top, #ff0000, #ff0000);
    background: -ms-linear-gradient(top, #ff0000, #ff0000);
    background: -o-linear-gradient(top, #ff0000, #ff0000);
    background-image: -ms-linear-gradient(top, #ff0000 0%, #ff0000 100%);
    padding: 4.5px 9px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
    -moz-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
    box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
    text-shadow: #7ea4bd 0 1px 0;
    color: #000000;
    font-size: 16px;
    font-family: helvetica, serif;
    text-decoration: none;
    vertical-align: middle
}

#editlist{

    border: 3px solid #0a3c59;
    background: #40ff00;
    background: -webkit-gradient(linear, left top, left bottom, from(#40ff00), to(#40ff00));
    background: -webkit-linear-gradient(top, #40ff00, #40ff00);
    background: -moz-linear-gradient(top, #40ff00, #40ff00);
    background: -ms-linear-gradient(top, #40ff00, #40ff00);
    background: -o-linear-gradient(top, #40ff00, #40ff00);
    background-image: -ms-linear-gradient(top, #40ff00 0%, #40ff00 100%);
    padding: 4.5px 9px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
    -moz-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
    box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
    text-shadow: #7ea4bd 0 1px 0;
    color: #000000;
    font-size: 16px;
    font-family: helvetica, serif;
    text-decoration: none;
    vertical-align: middle;

}

#viewlist{
    border: 3px solid #0a3c59;
    background: #0073ff;
    background: -webkit-gradient(linear, left top, left bottom, from(#0073ff), to(#0073ff));
    background: -webkit-linear-gradient(top, #0073ff, #0073ff);
    background: -moz-linear-gradient(top, #0073ff, #0073ff);
    background: -ms-linear-gradient(top, #0073ff, #0073ff);
    background: -o-linear-gradient(top, #0073ff, #0073ff);
    background-image: -ms-linear-gradient(top, #0073ff 0%, #0073ff 100%);
    padding: 4.5px 9px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
    -moz-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
    box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
    text-shadow: #7ea4bd 0 1px 0;
    color: #000000;
    font-size: 16px;
    font-family: helvetica, serif;
    text-decoration: none;
    vertical-align: middle;


}

#commentlist{

    border: 3px solid #0a3c59;
    background: #aa00ff;
    background: -webkit-gradient(linear, left top, left bottom, from(#aa00ff), to(#aa00ff));
    background: -webkit-linear-gradient(top, #aa00ff, #aa00ff);
    background: -moz-linear-gradient(top, #aa00ff, #aa00ff);
    background: -ms-linear-gradient(top, #aa00ff, #aa00ff);
    background: -o-linear-gradient(top, #aa00ff, #aa00ff);
    background-image: -ms-linear-gradient(top, #aa00ff 0%, #aa00ff 100%);
    padding: 4.5px 9px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
    -moz-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
    box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
    text-shadow: #7ea4bd 0 1px 0;
    color: #000000;
    font-size: 16px;
    font-family: helvetica, serif;
    text-decoration: none;
    vertical-align: middle;


}